@model Eshop.Models.Account.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Log In";
}

@Styles.Render("~/Content/login.css")
<div class="container">
    <section class="form-3">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {role = "form" }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true)

            <div class="clearfix">
                @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Login, new { id = "login" })
                @Html.ValidationMessageFor(model => model.Login)

            </div>

            <div class="clearfix">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Password, new { id = "password" })
                @Html.ValidationMessageFor(model => model.Password)

            </div>



            <div class="clearfix">
                <input type="submit" value="Log in" class="clearfix" />
            </div>
        }
        <div><button class="register-login-btn" onclick="location.href='@Url.Action("Register", "Account")'">Register</button></div>

    </section>
</div>
